.nav {
  background-color: rgba(240, 248, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .menu {
  display: flex;
  gap: 10px;
}
 .nav h1 {
    font-size: 1.5rem;
 }
.nav button {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  cursor: pointer;
  padding: 6px 16px;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
