.container{
    padding: 15px;
    display: flex;
    align-items: center;
}

.container input{
    height: 2.3em;
    margin-right: 1em;
    margin-top: 2px;
    border-radius: 10px;
}

.container button {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .55rem 1.65rem;
    text-align: center;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    transform: rotate(-2deg);
}
.container button:after {
    content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
.container button:hover {
    background-color: #c4ed0c;
}